# Copy to .env in the project root (never commit .env)

GEMINI_API_KEY=
GOOGLE_SHEETS_WEBAPP_URL=https://script.google.com/macros/s/AKfycbzg1fvGzUX8qZKwDFvqk8WFh-jtjhOZC0pdbUPdWse29maEbfHOKu7bdon0QWdANLSYOA/exec
